.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-item {
    width: 100%;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 54px !important;
    color: $white !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 54px !important;
    color: $white !important;
}